body {
  background-color: fuchsia;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

/* unvisited link */
a:link {
  color: springgreen;
}

/* visited link */
a:visited {
  color: chartreuse;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}
