body {
  background-color: fuchsia;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

/* unvisited link */
a:link {
  color: navy;
}

/* visited link */
a:visited {
  color: teal;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    border: 2px solid black;
}
