a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: fuchsia;
    color: purple;
    border: 2px solid navy;
}
