@import url(//db.onlinewebfonts.com/c/3c9a33e9913448d684afff5b4b0cc59c?family=SCE-PS3+Rodin+LATIN);

@font-face {font-family: "SCE-PS3 Rodin LATIN"; src: url("//db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.eot"); src: url("//db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.woff") format("woff"), url("//db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3c9a33e9913448d684afff5b4b0cc59c.svg#SCE-PS3 Rodin LATIN") format("svg"); }

/* General CSS rules for the body of the site */

body {
  font-family: 'SCE-PS3 Rodin LATIN';
  background-color: #22272e;
}

/* Text properties */

p {
  color: white; 
}

/* List item properties */

li {
  color: white;
}

/* Heading properties */

h1 {
  color: white; 
}

h2 {
  color: white; 
}

h3 {
  color: white; 
}

h4 {
  color: white;
}

/* Hyperlink properties */

a {
  color: #539bf5;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkcyan;
  color: white;
}

/*


*/

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid darkcyan;
  border-right: 2px solid darkcyan;
  border-bottom: 2px solid darkcyan;
  border-left: 2px solid darkcyan;
}

.tetrisbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid darkcyan;
  border-right: 2px solid darkcyan;
  border-bottom: 2px solid darkcyan;
  border-left: 2px solid darkcyan;
}

.towerbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid gold;
  border-right: 4px solid gold;
  border-bottom: 4px solid gold;
  border-left: 4px solid gold;
}

.mariobutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid green;
  border-right: 4px solid yellow;
  border-bottom: 4px solid blue;
  border-left: 4px solid orangered;
}

.red {
  color:red;
}

.inline {
  display: inline;
}

.cookiebutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: steelblue;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid saddlebrown;
  border-right: 4px solid saddlebrown;
  border-bottom: 4px solid saddlebrown;
  border-left: 4px solid saddlebrown;
}

.hextrisbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: ghostwhite;
  color: darkslategray;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid mediumseagreen;
  border-right: 4px solid gold;
  border-bottom: 4px solid dodgerblue;
  border-left: 4px solid orangered;
}

.xpbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: forestgreen;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid dodgerblue;
  border-right: 4px solid dodgerblue;
  border-bottom: 4px solid dodgerblue;
  border-left: 4px solid dodgerblue;
}


.stabfishbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: deepskyblue;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid coral;
  border-right: 4px solid coral;
  border-bottom: 4px solid coral;
  border-left: 4px solid coral;
}
.picklebutton{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: darkgreen;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid darkolivegreen;
  border-right: 4px solid darkolivegreen;
  border-bottom: 4px solid darkolivegreen;
  border-left: 4px solid darkolivegreen;
}

.holebutton{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: deepskyblue;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid white;
  border-right: 4px solid ghostwhite;
  border-bottom: 4px solid ghostwhite;
  border-left: 4px solid ghostwhite;
}

.peanutbutton{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: peru;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid royalblue;
  border-right: 4px solid royalblue;
  border-bottom: 4px solid royalblue;
  border-left: 4px solid royalblue;
}


.ogmariobutton{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 8px 12px 8px 12px;
  border-top: 4px solid royalblue;
  border-right: 4px solid royalblue;
  border-bottom: 4px solid royalblue;
  border-left: 4px solid royalblue;
}

.circle {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        padding: 10px;
        background: #fff;
        border: 0px solid #000;
        color: #000;
        font: 32px Arial, sans-serif;
        display: inline;
      }

.domainsplash {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px grey, 0 0 40px grey, 0 0 50px grey, 0 0 60px grey, 0 0 70px grey;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
  }
}
