/* General CSS rules for the body of the site */

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #22272e;
}

/* Text properties */

p {
  color: white; 
}

/* List item properties */

li {
  color: white;
}

/* Heading properties */

h1 {
  color: white; 
}

h2 {
  color: white; 
}

h3 {
  color: white; 
}

h4 {
  color: white;
}

/* Hyperlink properties */

a {
  color: #539bf5;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkcyan;
  color: white;
}
