body {
  background-color: blue;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

/* unvisited link */
a:link {
  color: aqua;
}

/* visited link */
a:visited {
  color: teal;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid black;
}

a.blue_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: blue;
    color: aqua;
    border: 2px solid navy;
}
